.Cards {
    height: 500px;
    width: 500px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}
.Button {
    height: 30vh;
    width: 30vh;
    position: relative;
    perspective: 150;
    -moz-perspective: 150;
    -webkit-perspective: 150;
    z-index: 500;

    border-radius: 50%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    cursor: pointer;
}
.ButtonSide {
        
}
.ButtonFront{
    /*Front Content*/
    background-color: var(--white);

    display: flex;
    flex-direction: column;
    font-size: 5rem;
    color: black;
    align-items: center;
    justify-content: center;
}
.ButtonFront span {
    font-size: 2rem;
}
.ButtonBack {
     /*Back Content*/
    background-color: red;
}
.FrontDeactivate {
    animation: frontDeactivate 1s  ease-in-out forwards;
}
.BackActivate {
    animation: backActivate 1s  ease-in-out forwards;
}
.BackDeactivate {
    animation: backDeactivate 1s   ease-in-out forwards;
}
.FrontActivate {
    animation: frontActivate 1s  ease-in-out  forwards;
}
/*Front rotate first then scale*/
@keyframes frontDeactivate {
    0% {
        transform: rotateY(0) scale(1);
    }
    25% {
        transform: rotateY(-90) scale(1);
    }
    50% {
        transform: rotateY(-180deg) scale(1);
    }
    75% {
        transform: rotateY(-180deg) scale(1);
    }
    100%{
        transform: rotateY(-180deg) scale(.7);
    }
}
/*Back rotate same direction then scale*/
@keyframes backActivate {
    0% {
        transform: scale(1) rotateY(-180deg);
        
    }
    25% {
        transform: scale(1) rotateY(-270deg);
    }
    50% {
        transform: scale(1) rotateY(-360deg);
        
    }
    75% {
        transform: scale(1) rotateY(-360deg);
    }
    100%{
        
        transform: scale(.7) rotateY(-360deg);
    }
}
@keyframes frontActivate {
    0% {
        transform: scale(.7) rotateY(-180deg);
    }
    25% {
        transform: scale(.7) rotateY(-90deg);
    }
    50% {
        transform: scale(.7) rotateY(0);
    }
    75% {
        transform: scale(.7) rotateY(0);
    }
    100%{
        transform: scale(1) rotateY(0);
    }
    
}
@keyframes backDeactivate {
    0% {
        transform: scale(.7) rotateY(-360deg);
        
    }
    25% {
        transform: scale(.7) rotateY(-270deg);
    }
    50% {
        transform: scale(.7) rotateY(-180deg);
        
    }
    75% {
        transform: scale(.7) rotateY(-180deg);
    }
    100%{
        transform: scale(1) rotateY(-180deg);
    }
}
@media (max-width: 600px) {
    .Button {
        height: 30vw;
        width: 30vw;
        perspective: none;
        -moz-perspective: none;
        -webkit-perspective: none;
    }
    .ButtonFront{
        font-size: 2.7rem;
        font-weight: 700;
    }
}