.Layout {
    box-sizing: border-box;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 123113;
    width: 100%;
    padding-bottom: 1rem;
   
    align-items: center;
   

    transition: transform .4s ;
}
.Name {
    font-size: 1.5rem;
    color: white;
    padding: 1.5rem 0;
    margin-left: 2rem;
}
.Navigation {
    position: fixed;
    z-index: 123113;
    top: 2rem;
    right: 1rem;
    margin-right: 2rem;
   margin-top: 1rem;
}
.LayoutHide {
    transform: translateY(-130%);
}