.LinkList {
    display: flex;
    position: relative;
    z-index: 50;
    flex-direction: column;
    border-left: 4px solid var(--white);
    padding-left: 1.5rem;
    user-select: none;
    margin-top: 15rem;
}
.LinkList > *:not(:last-child) {
    margin-bottom: 1rem;
}
@media (max-width: 600px) {
    .LinkList {
        flex-direction: row;
        border-left: none;
        border-bottom: 2px solid var(--white);
        margin-top: 3rem;
        padding-bottom: 1rem;

        justify-content: space-around
    }
    .LinkList > *:not(:last-child) {
        margin-bottom: 0;
        margin-right: 2rem;
    }
}