.BodyExt,.BodyInt {
    transition: all .2s;
}
.BodyExt {
    background: var(--sky-blue);
    padding: 10px;
   
}
.BodyInt {
    background: var(--sky-blue);
    min-height: 1500px;
    border: 3.5px solid white;
}
.Black {
    background: var(--black)
}
.Blue {
    background: rgb(20, 20, 117);
}
