* {
  margin: 0;
  padding: 0;
  
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/*defining color palette*/
:root {
  --black: black;
  --white: white;
  --sky-blue: rgb(24,28,45);
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap');
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
